[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/1.3.2/versions.cfg
versions = versions
newest = false

[versions]
dolmen.menu = 
megrok.pagetemplate = 0.7

[test]
recipe = zc.recipe.testrunner
eggs = dolmen.menu [test]
